In [1]:
# import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
sns.set()

from sklearn.datasets import load_digits
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing

In [2]:
df = pd.read_csv('dataset/weatherAUS.csv')
df = df.dropna()
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
6049,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,...,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No
6050,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,...,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,No
6052,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,...,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,No
6053,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,...,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,No
6054,2009-01-06,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,...,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,No

In [3]:
df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [4]:
 df['Location'].unique()

array(['Cobar', 'CoffsHarbour', 'Moree', 'NorfolkIsland', 'Sydney',
       'SydneyAirport', 'WaggaWagga', 'Williamtown', 'Canberra', 'Sale',
       'MelbourneAirport', 'Melbourne', 'Mildura', 'Portland', 'Watsonia',
       'Brisbane', 'Cairns', 'Townsville', 'MountGambier', 'Nuriootpa',
       'Woomera', 'PerthAirport', 'Perth', 'Hobart', 'AliceSprings',
       'Darwin'], dtype=object)

In [5]:
Canberra_df = df.loc[df['Location']=='Canberra'].copy()
Canberra_df.shape

(1078, 23)

In [6]:
Canberra_df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
45587,2007-11-01,Canberra,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,...,68.0,29.0,1019.7,1015.0,7.0,7.0,14.4,23.6,No,Yes
45588,2007-11-02,Canberra,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,...,80.0,36.0,1012.4,1008.4,5.0,3.0,17.5,25.7,Yes,Yes
45589,2007-11-03,Canberra,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,...,82.0,69.0,1009.5,1007.2,8.0,7.0,15.4,20.2,Yes,Yes
45590,2007-11-04,Canberra,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,...,62.0,56.0,1005.5,1007.0,2.0,7.0,13.5,14.1,Yes,Yes
45591,2007-11-05,Canberra,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,...,68.0,49.0,1018.3,1018.5,7.0,7.0,11.1,15.4,Yes,No

# Convert categorial and binary features to float

In [7]:
le = preprocessing.LabelEncoder()

binary = ['RainToday', 'RainTomorrow']
categorical = ['WindGustDir', 'WindDir9am','WindDir3pm']
numerical =  df.select_dtypes(include=['number']).columns
result = {'Yes': 1, 'No': 0}

Canberra_df.dropna(subset=binary, inplace=True)

for column in binary:
    Canberra_df.loc[:, column] = Canberra_df[column].replace(result)
    
for col in categorical:
    mode_value = Canberra_df[col].mode()[0]
    Canberra_df[col].fillna(mode_value, inplace=True)
    Canberra_df[col] = le.fit_transform(Canberra_df[col]).astype(float)

Canberra_df[binary] = Canberra_df[binary].astype(float)
Canberra_df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
45587,2007-11-01,Canberra,8.0,24.3,0.0,3.4,6.3,7.0,30.0,12.0,...,68.0,29.0,1019.7,1015.0,7.0,7.0,14.4,23.6,0.0,1.0
45588,2007-11-02,Canberra,14.0,26.9,3.6,4.4,9.7,1.0,39.0,0.0,...,80.0,36.0,1012.4,1008.4,5.0,3.0,17.5,25.7,1.0,1.0
45589,2007-11-03,Canberra,13.7,23.4,3.6,5.8,3.3,7.0,85.0,3.0,...,82.0,69.0,1009.5,1007.2,8.0,7.0,15.4,20.2,1.0,1.0
45590,2007-11-04,Canberra,13.3,15.5,39.8,7.2,9.1,7.0,54.0,14.0,...,62.0,56.0,1005.5,1007.0,2.0,7.0,13.5,14.1,1.0,1.0
45591,2007-11-05,Canberra,7.6,16.1,2.8,5.6,10.6,10.0,50.0,10.0,...,68.0,49.0,1018.3,1018.5,7.0,7.0,11.1,15.4,1.0,0.0

# Replace NaN with mean for numerical features

In [8]:
Canberra_df[numerical] = Canberra_df[numerical].fillna(Canberra_df[numerical].mean())

# Logistic Regression Execution

In [9]:
scaler = StandardScaler()
y = Canberra_df['RainTomorrow']
x =  Canberra_df.drop(columns=['RainTomorrow','Date','Location'],axis=1)

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.8)
x_train = scaler.fit_transform(x_train)

In [11]:
model = LogisticRegression(solver='liblinear',C=0.05,multi_class='ovr',random_state=-0)
model.fit(x_train, y_train)

LogisticRegression(C=0.05, multi_class='ovr', random_state=0,
                   solver='liblinear')

In [12]:
x_test = scaler.transform(x_test)

In [13]:
y_pred = model.predict(x_test)

In [14]:
print("Accuracy:",model.score(x_train,y_train))
print("Accuracy:",model.score(x_test,y_test))

Accuracy: 0.8700696055684455
Accuracy: 0.8888888888888888

In [15]:
cm_df = pd.DataFrame(confusion_matrix(y_test,y_pred))
cm_df.columns = ['Predicted 0','Predicted 1']
cm_df = cm_df.rename(index={0:"Actual 0",1:"Actual 1"})
cm_df

          Predicted 0  Predicted 1
Actual 0          167            8
Actual 1           16           25

# SVM

In [16]:
from sklearn import svm
from sklearn import metrics

clf= svm.SVC(kernel='linear')

clf.fit(x_train,y_train)

y_pred=clf.predict(x_test)

In [17]:
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

AttributeError: module 'sklearn.metrics' has no attribute 'acuracy_score'